:root {
  --darkgray: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
input#applicant-search::placeholder {
  color: #ffffff;
}

footer,
footer a {
  background-color: var(--darkgray);
  color: #ffffff;
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: rgba(0, 105, 92, 0.3) !important;
}
